/* CSS Document */

@font-face {
  font-family: 'shlopshlop';
  src: url('Font/shlop-webfont.woff2') format('woff2'),
       url('Font/shlop-webfont.woff') format('woff'),
       url('Font/SHLOP');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: 'Lucida Sans Unicode';
}

h1 {
  font-size: 80px;
  font-family: 'shlopshlop', 'arial';
  color: red;
  text-align: center;
}

h2{
  background-color: red;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

h3{
  font-weight: bold;
  text-decoration: underline white ;
}

.instructions{
  background-color: white;
  color: black;
  text-align: center;
  height: auto;
  width: auto;
}

.img{
  border: 3px solid red;
  height: 250px;
  width: 250px;
  align-content: center;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: transparent;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: black;
  color: red;
}

.flip-box-back {
  background-color: red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transform: rotateY(180deg);
}

.button {
	box-shadow: 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
  border:1px solid #d83526;
  cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}

.button:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}

.button:active {
	position:relative;
  top:1px;
  align-content: center;
}


footer{
    background-color: Red;
    text-align: center;
    color:white;
    font-size: large;
}

a{
  color: white;
}
